{% extends "base/base.html" %}

{% block title %}Detail Lead{% endblock title %}

{% block content %}
    {{ object }}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            {{ object.agent }}
                        </div>
                        <small>First Name:</small>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.frist_name }} <br>
                        <small>Email:</small>
                        {{ object.personal_email }}                 
                        <br>
                        <small>Estrategia de Marketing:</small>
                        {{ object.marketing_strategy }}
                        </div> 
                    </div>
                <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}