{% extends "base/base.html" %}
<!-- /. Aqui va el titulo de la pagina.... si lo dejas vacio no aparecera nada -->
{% block title%}Boleta Alumno{% endblock %}
<!-- /. Aqui va el contenido.... si lo dejas vacio no aparecera nada -->
{% block content%}
<table class="table tabel-striped">
    <th>No.Control: </th>
    <th>Materia: </th>
    <th>B1: </th>
    <th>B2: </th>
    <th>B3: </th>
    <th>B4: </th>
    <th>B5: </th>
    <th></th>  
    {% for lead in object_list %}
    <tr>
        <td>{{ lead.NoControl }}</td>
        <td>{{ lead.ID_Materia }}</td>
        <td>{{ lead.Bimestre1 }}</td>
        <td>{{ lead.Bimestre2 }}</td>
        <td>{{ lead.Bimestre3 }}</td>
        <td>{{ lead.Bimestre4 }}</td>
        <td>{{ lead.Bimestre5 }}</td>
        <td>{{ lead.Promedio }}</td>
        <td><a href="{% url 'home:detail_lead' lead.pk %}">
        <i class="fas fa-edit" style="color: #3440FE;">Detalles</a></td>
        <td><a href="{% url 'home:update_lead' lead.pk %}">
        <i class="fas fa-upload" style="color: #09B801;">Actualizar</a></td>
        <td><a href="{% url 'home:delete_lead' lead.pk %}">
        <i class="fas fa-trash" style="color: #E80606;">Borrar</a></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}
<!-- /. Aqui van los botones.... si lo dejas vacio no aparecera nada -->

{% block buttons%}

<li>
    <a href="{% url 'home:home_alumno' %}"><i class="fa fa-qrcode "></i>Inicio</a>
</li>
<li>
    <a href="{% url 'home:avance_alumno' %}"><i class="fa fa-bar-chart-o"></i>Avance de curso</a>
</li>
<li>
    <a href="{% url 'home:imprimir_alumno' %}"><i class="fa fa-qrcode "></i>Imprimir boleta</a>
</li>
<li>
    <a href="{% url 'home:historial_alumno' %}"><i class="fa fa-bar-chart-o"></i>Historial</a>
</li>
<li>
    <a href="{% url 'home:index' %}"><i class="fa fa-qrcode "></i>Salir del sistema</a>
</li>
{% endblock %}
<!-- /. Aqui va el boton de logout.... si lo dejas vacio no aparecera nada -->
{% block logout%}{% endblock %}
<!-- /. Aqui va el aviso de privacidad.... si lo dejas vacio no aparecera nada -->
{% block privacy%}Aqui va el aviso de privacidad...{% endblock %}

